@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media only screen and (max-width: 767px) {
  	.fc .fc-toolbar-title{
		font-size: 1.7em;
	}

	#app {
		/*margin-top: 50px;*/
	}
}